@font-face {
  font-family: Norse;
  font-weight: bold;
  src: url("norse.bold.otf") format("opentype");
}

:root {
  --gray-text: #4a4a4ab3;
  --brown: #cc9543;
  --light-blue: #6abfc3;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  color: #4a4a4a;
}

p {
  color: var(--gray-text);
  line-height: 1.88;
}

* { box-sizing: inherit; }

button {
  display: block;
  border: none;
}

a { color: inherit; }
a:hover { 
  color: #4a4a4a!important;
  text-decoration: none;
}

// NAV
nav {
  justify-content: space-between;
  align-items: center;
  height: 95px;
  padding: 0 10.5rem;
  background-color: #fff;
  z-index: 100;
}

.brand {
  padding: 5px 0;
}

.logo {
  height: 70px;
}

.logo-text {
  align-self: center;
  padding-left: 1rem;
  font-family: Norse, sans-serif;
  font-size: 2rem;
  color: var(--brown);
}

.nav-links li {
  padding: .5rem;
}

.nav-links li a {
  text-decoration: none;
  color: var(--gray-text);
  font-weight: 700;
}

.nav-links li a:hover {
  color: #4a4a4a;
}

li.separator {
  height: 2rem;
  align-self: center;
  border-right: 1px solid currentColor;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  color: var(--light-blue);
  background-color: transparent;
}

@media screen and (max-width: 1055px) {
  .logo-text { font-size: 1.5rem; }
}
@media screen and (max-width: 1024px) {
  nav {
    padding: 0 20px;
  }

  .logo { height: 60px; }
}

@media screen and(max-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .nav-links { display: none; }
  .menu-toggle { display: block; }
}


// HEADER
header {
  padding: 30px 0 60px;
  text-align: center;
}

header h1 {
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: .4px;
  color: var(--brown);
}

header h2 {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  color: var(--gray-text);
}

@media screen and (max-width: 768px) {
  header{
    margin-top: 95px;
  }
}

@media screen and (max-width: 550px) {
  header h1 {
    max-width: 100%;
  }
}


// HOW IT WORKS SECTION
.how-it-works {
  text-align: center;
  margin-bottom: 60px;
}

.how-it-works h2 {
  margin: 100px 0 36px;
  font-size: 1.5rem;
  font-weight: 700;
}

.how-it-works-info {
  max-width: 600px;
  margin-bottom: 100px;
  padding: 0 1rem;
  font-size: 1.125rem;
}

.how-it-works-tiles {
  max-width: 1080px;
}

.tile img {
  height: 10.5rem;
}

.tile {
  padding: 1rem;
  flex: 1;
  font-size: 1.125rem;
}

.tile h3 {
  margin: 50px 0 20px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .how-it-works-tiles {
    flex-direction: column;
  }

  .tile img {
    height: 120px;
  }
}


// COURSES SECTION
.curriculum-details {
  padding: 60px 0;
  background-color: #f3f3f3;
}

.curriculum-details h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 60px;
}

.courses {
  max-width: 950px;
  margin-bottom: 56px;
  gap: 30px;
}

.course {
  display: flex;
  flex-direction: column;
  padding: 25px 46px;
  align-items: center;
  box-shadow: 0 7px 16px 0 rgb(0 0 0 / 5%);
  background-color: white;
}

.course img {
  width: 10rem;
}

.course h3 {
  margin: 18px 0 .5rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
}

@media screen and (max-width: 550px) {
  .course {
    width: 270px;
    padding-bottom: 1rem;
  }

  .course h3 {
    margin: 10px 0 0;
  }

  .course img {
    width: 5rem;
  }
}


// SUCCESS STORIES SECTION
.success-stories {
  padding: 60px 0;
  background: #f3f3f3 linear-gradient(#fff, #f3f3f3);
}

.success-stories h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.success-stories-container {
  max-width: 1280px;
  margin: 100px auto 30px;
}

.success-story {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 36px;
  font-size: 1.125rem;
}

.success-story h3 {
  color: var(--brown);
  margin-bottom: 1rem;
}

.success-story img {
  width: 50px;
  height: 50px;
  margin: 1rem 25px 0;
}

.read-more {
  display: block;
  width: fit-content;
  margin: 0 auto;
  color: var(--gray-text);
}

@media screen and (max-width: 480px) {
  .success-story img {
    display: none;
  }
}


// START LEARNING SECTION
.start-learning {
  padding: 60px 0;
  text-align: center;
  background-color: #f3f3f3;
}

.start-learning h2 {
  font-size: 2.2rem;
  margin-bottom: 45px;
  color: var(--gray-text);
}


// FOOTER
footer {
  min-height: 277px;
  align-items: center;
  justify-content: space-around;
  padding: 0 2rem;
}

footer .logo-text {
  font-size: 25.6px;
}

.social-icons li {
  display: flex;
  justify-content: center;
}

.social-icon {
  font-size: 24px;
  padding: 1rem;
  color: var(--brown);
}

.social-icon:hover {
  color: #4a4a4a;
}

.footer-links {
  justify-content: center;
}

.footer-links ul {
  width: 130px;
}

.footer-links li {
  padding-bottom: 1rem;
}

.footer-links a {
  font-weight: bold;
  text-decoration: none;
  color: var(--gray-text);
}

@media screen and (max-width: 1024px) {
  footer .logo-text {
    font-size: 19.2px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    padding: 0;
    min-height: 140px;
    justify-content: initial;
  }

  footer .brand {
    display: none;
  }

  .social-icons {
    flex: 1;
  }

  .social-icons li {
    flex: 1;
  }

  .footer-links {
    flex: 1;
  }
}

@media screen and (max-width: 540px) {
  footer {
    min-height: 70px;
  }

  .footer-links {
    display: none;
  }
}

// MISC
.btn {
  padding: 1rem 56px;
  margin: 0 auto;
  box-shadow: 0 0.05em 0.25em 0 rgb(0 0 0 / 50%);
  border-radius: .2rem;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

.btn-blue { background-color: var(--light-blue); }
.btn-brown { background-color: var(--brown); }
.btn-blue:hover,
.btn-brown:hover { opacity: 0.8; }

.link-brown {
  color: var(--brown);
  text-decoration: underline;
}

.push-down {
  padding-bottom: 70px;
}